{% extends "admin/base.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table class="table table-hover">
        <thead class="table-dark">
            <th scope="col">Nom/Prénom</th>
            <th>Email</th>
            <th>Nb/Commandes</th>
            <th>Supprimer</th>
            <th>Éditer</th>
        </thead>
        <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.lastName}} {{ u.firstName }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.purchases | length }}</td>
                    <td><a href="{{ path("admin_user_remove", {"id": u.id}) }}"><button class="btn btn-danger"><i class="fas fa-trash"></i></button></a></td>
                    <td><a href="{{ path("admin_user_edit", {"id": u.id}) }}"><button class="btn btn-primary"><i class="fas fa-edit"></i></button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}