{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Se connecter</h1>
    {% if error %}
        <div class="alert alert-danger"> {{ error.message }}</div>
        {% if userId is defined %}
            <a href="{{ path("security_resend_mail", {"id": userId}) }}">Renvoyer le mail d'activation</a>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-6">
            {% include "/shared/_flashes.html.twig" %}
            {{ form_start(formView) }}
                {{ form_widget(formView)}}
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-sign-in-alt mr-1"></i>
                    Se connecter
                </button>
                <a href="{{ path('app_forgot_password_request') }}" class="link">Mot de passe oublié ?</a>

            {{ form_end(formView) }}
        </div>
    </div>
{% endblock %}