{% extends "admin/base.html.twig" %}

{% block title %}Détails de la commande n°{{ purchase.id }}{% endblock %}
{% block body %}
    <h1>Détails de la commande n°{{ purchase.id }}</h1>
    <table class="table table-hover">
        <thead class="table-dark">
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.productName }}</td>
                    <td>{{ item.productPrice | amount }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.total | amount }}</td>
                </tr>
            {% endfor %}
            <tr class="table-dark">
                <th colspan="3">Total de la commande</th>
                <td>{{ purchase.total | amount }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}