{% extends "base.html.twig" %}

{% block title %} {{ product.name }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path("homepage") }}">Accueil</a></li>
        {% if product.category.name is defined %}
            <li class="breadcrumb-item"><a href="{{ path("product_category", {"slug": product.category.slug}) }}">{{ product.category.name }}</a></li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ path("product_show_all") }}">Produits</a></li>
        {% endif %}
        <li class="breadcrumb-item active">{{ product.name }}</li>
    </ol>
    <h1>{{ product.name }}({{ product.price | amount  }})</h1>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="{{ asset('/uploads/images/products/' ~ product.mainPicture) }}" alt="Image de {{ product.name }}">
            <p>Toutes les image sutilisées proviennent d'Unsplash: <a href="https://unsplash.com/collections/69645865/symshop" class="link" target="-blank">Lien de la collection</a></p>
        </div>
        <div class="col">
            {% if product.category.name is defined %}
                <span class="badge badge-primary">{{ product.category.name }}</span>
            {% endif %}
            <p>{{ product.shortDescription }}</p>
            {% include "shared/_flashes.html.twig" %}
            <a href="{{ path("cart_add", {"id": product.id}) }}" class="btn btn-success btn-lg">
                <i class="fas fashopping-cart"></i>
                Ajouter au panier
            </a>
        </div>
    </div>
{% endblock %}