{% extends "base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/stripe.css">
{% endblock %}

{% block title %}Paiement{% endblock %}

{% block body %}
  <div class="row justify-content-center text-center">
  <div class="col-12">
    <h1>Veuillez renseigner votre moyen de paiement</h1>
  </div>
  <div class="col-12">
    <p>Montant à payer: {{ purchase.total | amount }}</p>
  </div>
    <form id="payment-form">
      <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      <button id="submit" class="btn btn-success">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Payer avec Stripe</span>
      </button>
      <p id="card-error" role="alert"></p>
    </form>
  </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const clientSecret = '{{ clientSecret }}';
        const stripePublicKey = '{{ publicKey }}';
        const redirectAfterSuccesfulUrl = '{{ url('purchase_payment_success', {'id': purchase.id}) }}';        
    </script>
    <script src="/js/stripe.js"></script>
{% endblock %}
