<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ path("homepage") }}">SymShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Catégories
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" href="{{ path("product_show_all") }}">Tous les produits</a></li>
          <li><hr class="dropdown-divider"></li>
          {% for c in categoryRepository.findAll() %}
            <li><a class="dropdown-item" href="{{ path("product_category", {"slug": c.slug}) }}">{{ c.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if app.user and is_granted("ROLE_ADMIN") %}
        <li class="nav-item"><a href="{{ path('admin_index') }}" class="nav-link">Administration</a></li>
      {% endif %}
      <li class="nav-item">
        <a  class="nav-link" href="{{ path('cart_show') }}">
          <i class="fas fa-shopping-cart mr-1"></i>
          Panier
          {% if cartService.total > 0 %}
            ({{ cartService.total | amount }})
          {% endif %}
        </a>
      </li>
      {% if app.user %}
        <li class="nav-item"><a href="{{ path('purchase_index') }}" class="nav-link">Mes commandes</a></li>
        <li class="nav-item"><a href="{{ path('security_logout') }}" class="btn btn-danger">Logout</a></li>
      {% else %}
        <li class="nav-item"><a href="{{ path('sign_in') }}" class="nav-link">Inscription</a></li>
        <li class="nav-item"><a href="{{ path('security_login') }}" class="btn btn-success">Login</a></li>  
      {% endif %}
    </ul>
  </div>
</nav>